

<div class="container d-flex justify-content-center">
    <div class="card mt-5">
        <div class="d-flex flex-row justify-content-between p-3 adiv text-white"> <%= link_to "Back", all_messages_path%><span class="pb-3">Messages</span> <%= link_to "Trails", trails_path%> </div>
        <% @messages.each do |message| %>
          <% if message.sender_id == current_user.id%>
              <div class="d-flex flex-row p-3"> <%= cl_image_tag current_user.avatar.key, height: 50, width: 50, crop: :fill %>
                <div class="chat ml-2 p-3"><%= message.content %></div>
              </div>
          <% else %>
              <div class="d-flex flex-row p-3 ">
                <div class="bg-white mr-2 p-3"><%= message.content %></div>
                <%= cl_image_tag User.find(params[:receiver_id]).avatar.key, height: 50, width: 50, crop: :fill %>
              </div>
          <% end %>
        <% end %>
        <div class="form-group px-3"> <textarea class="form-control" rows="5" placeholder="Type your message"></textarea> </div>
    </div>
</div>
