<div class="mt-4">
  <div class="d-flex p-3 adiv bg-light justify-content-between">
    <%= link_to "Back", all_messages_path%>
    <span class="px-3">Messages</span>
    <%= link_to "Trails", trails_path%>
  </div>
  <div class="messages d-flex flex-column">
    <% @messages.each do |message| %>
      <% if message.sender_id == current_user.id%>
        <div class="d-flex p-2">
          <%= cl_image_tag current_user.avatar.key, height: 50, width: 50, style: "border-radius: 50%", crop: :fill %>
          <div class="chat w-75 ml-2 bg-success p-2 text-white rounded-lg"><%= message.content %></div>
        </div>
      <% else %>
        <div class="d-flex p-2 justify-content-end">
          <div class="w-75 mr-2 bg-info p-2 text-dark rounded-lg"><%= message.content %></div>
          <%= cl_image_tag User.find(params[:receiver_id]).avatar.key, height: 50, width: 50, style: "border-radius: 50%", crop: :fill %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group p-3"> <textarea class="form-control" rows="5" placeholder="Type your message"></textarea> </div>
</div>
