<body>
  <h1>Your XP progress</h1>
  <div class="card chart-container">
    <canvas id="chart"></canvas>
  </div>

  <h1>Your achievements</h1>
  <div class="badge-container">
    <% @my_badges.each do |badge| %>
      <div class="badge-card-container">
        <div class="badge-contents">
          <div id="large-badge"><i class="<%= badge.logo %>" id="main-badge"></i></div>
          <div class="badge-text-container">
            <h3><%= badge.name %></h3>
            <p><%= badge.description %></p>
          </div>
        </div>

      </div>
    <% end %>

    <a href="/leaderboard" class="btn-create-run d-block text-center">View leaderboard</a>
  </div>
</body>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js">
</script>

<script>
  document.addEventListener("DOMContentLoaded", function(){
    swal("Congratulations!", "You completed a run!", "success");
  })
</script>

<% xp_earned = RunParticipant.where(user_id: current_user.id).last.distance.to_i %>

<script>
  Chart.defaults.global.defaultFontFamily = "Reem Kufi";
  const ctx = document.getElementById("chart").getContext('2d');
  const myChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: ["Nov 25", "Nov 26", "Nov 27",
      "Nov 28", "Nov 29"],
      datasets: [
        {
        label: '+ <%= xp_earned %> XP',
        backgroundColor: 'rgba(209, 73, 73, 0.3)',
        borderColor: 'rgb(209, 73, 73)',
        data: [5, 6, 8, 4, 7],
        },
        {
        label: 'Total XP: <%= current_user.xp %> ',
        backgroundColor: 'rgba(161, 198, 247, 1)',
        borderColor: 'rgb(47, 128, 237)',
        data: [5, 11, 19, 23, 30],
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'XP Progression',
        fontColor: '#003F88',
        font: {
          family: 'Rasa',
        },
      },
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true,
          }
        }]
      },
      legend: {
          display: true,
          labels: {
              color: 'rgb(255, 99, 132)'
          },
      }
    },
  });
</script>
