<div class="d-flex flex-row justify-content-between py-2 px-3 adiv chat-header">
  <%= link_to "< Back", chatrooms_path %>
  <%= link_to "Trails >", trails_path %>
</div>
<h1>#<%= @chatroom.name %></h1>
<div id="messages" data-chatroom-id="<%= @chatroom.id %>">
  <% @chatroom.messages.each do |message| %>
    <%= render "messages/message", message: message %>
  <% end %>
</div>
<%= simple_form_for [ @chatroom, @message ] do |f| %>
  <%= f.input :content, required: true, label: false, placeholder: "Message ##{@chatroom.name}" %>
  <%= f.submit "Send", class: "btn-complete d-block w-100 my-3" %>
<% end %>
