<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
    <div class="simple-form">
      <%= simple_form_for(@user) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :gender %>
        <%= f.input :location %>
        <%= f.input :running_exp %>
        <%= f.input :bio %>
        <%= f.input :birth_date %>
        <%= f.input :avatar, as: :file %>
       <%= f.submit "Complete Profile" %>
      <% end %>
    </div>
  </div>
</div>
