<div class="container-complete-profile">
  <h1 class="text-center mt-5">Tell us a little about yourself</h1>
  <%= simple_form_for(@user) do |f| %>
    <div class="form-inputs-complete">
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <%= f.input :first_name, label: false, placeholder: "What is your first name?" %>
      <%= f.input :last_name, label: false, placeholder: "What is your last name?" %>
      <%= f.input :location, label: false, placeholder: "Where do you live?" %>
      <div class="select-rounded">
        <%= f.input :running_exp, label: false, prompt: "Select your running experience", collection: ["Beginner","Intermediate", "Advanced"] %>
      </div>
      <%= f.input :bio, label: false, placeholder: "Bio" %>
      <%= f.input :birth_date %>
      <%= f.input :avatar, as: :file %>
    </div>
      <%= f.submit "Complete Profile", class: "btn-complete d-block w-100" %>
        <% end %>
    </div>
  </div>
</div>
