<h1>Find runners</h1>
<script src="https://kit.fontawesome.com/3d190f4026.js" crossorigin="anonymous"></script>

<% @users.each do |user| %>
  <% unless user == current_user || user.first_name.nil? %>
    <div class="profile-card-container">
      <div class="card-profile-info">
        <div class="profile-img"><%= cl_image_tag user.avatar.key %></div>
        <div class="profile-info">
          <strong><p><%= user.first_name %>, <%= Time.zone.now.year - user.birth_date.year %></p></strong>
          <p><%= user.running_exp %></p>
          <p><%= user.location %></p>
        </div>
      </div>
      <div class="run-stats">
        <div class="runs-count"><%= RunParticipant.where(user_id: user.id).count %>
          <br>
          Runs
        </div>
        <div class="distance-run">
          <%= user.xp %>km
          <br>
          Distance
        </div>
        <div class="thumbs-up">
          <%= UserRating.where(ratee_id: user.id).count %>
          <br>
          Thumbs up
        </div>

      </div>
      <div class="badges">
        <% my_badges = @badges.select { |badge| user.xp >= badge.req_xp } %>
        <% my_badges.each do |badge| %>
        <img class="mini-badge" src=<%= badge.logo %>>
        <% end %>
      </div>
      <div class="profile-card-bottom">
        <div class="profile-bio"><%= user.bio %></div>
        <div class="card-buttons">
          <%= link_to "Follow", "#" %>
            <% @chatroom = Chatroom.where(user_id: current_user.id, recipient_id: user.id).first %>
            <% if @chatroom.nil? %>
              <% @chatroom = Chatroom.where(user_id: user.id, recipient_id: current_user.id).first %>
              <% if @chatroom.nil? %>
                <%= link_to "Message", new_chatroom_path(user_id: current_user.id, recipient_id: user.id) %>
              <% else %>
                <%= link_to "Message", chatroom_path(@chatroom) %>
              <% end %>
            <% else %>
              <%= link_to "Message", chatroom_path(@chatroom) %>
            <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
