<h1>Find runners</h1>

<% @users.each do |user| %>
  <% unless user == current_user || user.first_name.nil? %>
    <div class="profile-card-container">
      <div class="card-profile-info">
        <div class="profile-img"><%= cl_image_tag user.avatar.key %></div>
        <div class="profile-info">
          <strong><p><%= user.first_name %>, <%= Time.zone.now.year - user.birth_date.year %></p></strong>
          <p><%= user.running_exp %></p>
          <p><%= user.location %></p>
        </div>
      </div>
      <div class="profile-card-bottom">
        <div class="profile-bio"><%= user.bio %></div>
        <div class="card-buttons">
          <%= link_to "Follow", "#" %>
          <%= link_to "Message", chatroom_path(1) %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
