<div class="container mt-5">
  <h1>Find runners</h1>

  <% @users.each do |user| %>
  <% unless user == current_user %>
  <div>
    <div class="profile-card-container">
      <div class="card-profile-info">
        <div class="profile-img"><%= cl_image_tag user.avatar.key %></div>
        <div class="profile-info">
          <strong><p><%= user.first_name %>, <%= Time.zone.now.year - user.birth_date.year %></p></strong>
          <p><%= user.running_exp %></p>
          <p><%= user.location %></p>
        </div>
      </div>

      <div class="profile-card-bottom">
        <div class="profile-bio">
          <p><%= user.bio %></p>
        </div>
        <div class="card-buttons">
          <%= link_to "Follow", "#" %>
          <%= link_to "Message", my_messages_path(receiver_id: user.id) %>
        </div>

      </div>
    </div>
  <% end %>
  </div>
<% end %>

</div>
