<div class="container mt-5">
  <h1>
    <p>
      <%= cl_image_tag @user.avatar.key, height: 300, width: 400, crop: :fill %>
      <%= @user.first_name %>
      <%= @user.last_name %>
    </p>
    <p>
      Gender: <%= @user.gender %>
      <br>
      Location: <%= @user.location %>
      <br>
      Running Experience Level: <%= @user.running_exp %>
      <br>
      Bio: <%= @user.bio %>
      <br>
      Birth_date: <%= @user.birth_date %>
    </p>
  </h1>
</div>
