<h1>Select a trail</h1>
<div class="card-container">
  <% @trails.each do |trail|%>
  <div class="trail-card">
    <%= link_to "Run trail", new_trail_run_path(trail), class: "organize-button" %>
    <ul>
      <div class="card-img">
        <%= cl_image_tag trail.photos.first.key, height: 180, width: 330, crop: :fill %></li>
      </div>
      <div class="trail-name"><%= link_to trail.name, trail_path(trail) %></div>
      <div class="trail-location"><%= trail.location %></div>
      <div class="card-text-bottom">
        <div class="difficulty">
          <li class="bottom-text">
            <% trail.difficulty.ceil.times do %>
              <%="★"%>
            <% end %>
            <% (5 - trail.difficulty.ceil).times do %>
              <%="☆"%>
            <% end %>
          </li>
          <li><%= "Difficulty" %></li>
        </div>
        <div class="rating">
          <li class="bottom-text">
            <% if TrailRating.where(trail_id: trail.id).length === 0 %>
              <%= "N/A" %>
            <% else %>
              <% (TrailRating.where(trail_id: trail.id).map { |trail_rating| trail_rating.rating }.sum / TrailRating.where(trail_id: trail.id).map { |trail_rating| trail_rating.rating }.length.to_f).ceil.times do %>
                <%="★"%>
              <% end %>
              <% (5 - (TrailRating.where(trail_id: trail.id).map { |trail_rating| trail_rating.rating }.sum / TrailRating.where(trail_id: trail.id).map { |trail_rating| trail_rating.rating }.length.to_f).ceil).times do %>
                <%="☆"%>
              <% end %>
            <% end %>
          </li>
          <li><%= "Rating" %></li>
        </div>
        <div class="distance">
          <li class="bottom-text"><%= number_with_precision(trail.distance.to_f, precision: 1) %>km</li>
          <li><%= "Distance" %></li>
        </div>
      </div>
      <div class="bottom-separator"></div>
    </ul>
  </div>
  <% end %>
</div>
