<script>
  const fetchWeather = (city) => {
    fetch(`https://api.openweathermap.org/data/2.5/weather?q=${city}&appid=90cba1ae8de1ce52e1fc423a5f44a279&units=metric`)
      .then(response => response.json())
      .then((weather) => {
        console.log(weather);
      });
  };
  fetchWeather("Montreal");
  // document.getElementById('city-input').select2({ data: cities, width: '100%' }); // <-- add the `data` and `width` options
  // navigator.geolocation.getCurrentPosition((data) => {
  //   console.log(123);
  //   console.log(data);
  // });
</script>

<h1>Select a trail</h1>
<div id="city-input"></div>
<div class="card-container">
  <% @trails.each do |trail|%>
  <div class="trail-card">
    <%= link_to "Run trail", new_trail_run_path(trail), class: "organize-button" %>
    <ul>
      <div class="card-img">
        <%= cl_image_tag trail.photos.first.key, height: 180, width: 330, crop: :fill %></li>
      </div>
      <div class="trail-name"><%= link_to trail.name, trail_path(trail) %></div>
      <div class="trail-location"><%= trail.location %></div>
      <div class="card-text-bottom">
        <div class="difficulty">
          <li class="bottom-text">
            <% trail.difficulty.ceil.times do %>
              <%="★"%>
            <% end %>
            <% (5 - trail.difficulty.ceil).times do %>
              <%="☆"%>
            <% end %>
          </li>
          <li><%= "Difficulty" %></li>
        </div>
        <div class="rating">
          <li class="bottom-text">
            <%# trail.rating.ceil.times do %>
              <%#="★"%>
            <%# end %>
            <%# (5 - trail.rating.ceil).times do %>
              <%#="☆"%>
            <%# end %>
          </li>
          <li><%= "Rating" %></li>
        </div>
        <div class="distance">
          <li class="bottom-text"><%= number_with_precision(trail.distance.to_f, precision: 1) %>km</li>
          <li><%= "Distance" %></li>
        </div>
      </div>
      <div class="bottom-separator"></div>
    </ul>
  </div>
  <% end %>
</div>
