<h1>Select a trail!</h1>
<% @trails.each do |trail|%>
  <ul>
    <li><%= cl_image_tag trail.photos.first.key, height: 300, width: 400, crop: :fill %></li>
    <li><%= link_to trail.name, trail_path(trail) %></li>
    <li><%= trail.location %></li>
    <li><%= trail.distance %>km</li>
    <li><%= trail.difficulty %></li>
    <li><%= trail.rating %> ⋆⋆⋆⋆⋆</li>
    <li>Posted by: <%#= trail.user.name %>...</li>
    <li><%= link_to "Organize a run on this trail", new_trail_run_path(trail) %></li>
  </ul>
<% end %>
