<h1><%= @trail.name %></li></h1>
<li><% @trail.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %></li>
<li><%= @trail.location %></li>
<li><%= @trail.distance %>km</li>
<li><%= @trail.difficulty %></li>
<li><%= @trail.rating %> ⋆⋆⋆⋆⋆</li>
<li><%= link_to "Organize a run on this trail", new_trail_run_path(@trail) %></li>
