<div class="container-login">
  <h1>RunLink</h1>

  <div class="simple-form-login">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.input :email,
                    label: false,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
                    <%= f.input :password,
                    label: false,
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
  </div>
  <div class="remember-me">
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="btn-runlink">
      <%= f.button :submit, "Sign in" %>
  </div>
  <% end %>
  <div class="devise-links">
    <%= render "devise/shared/links" %>
  </div>
</div>
