<h1><%= @run.trail.name %></h1>
<div class="new-run-top">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= cl_image_tag @run.trail.photos.first.key, height: 180, width: 330, crop: :fill %>
      </div>
      <div class="carousel-item">
        <%= cl_image_tag @run.trail.photos.second.key, height: 180, width: 330, crop: :fill %>
      </div>
      <div class="carousel-item">
        <%= cl_image_tag @run.trail.photos.third.key, height: 180, width: 330, crop: :fill %>
      </div>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <h2 class="trail-booking-header"><%= @run.trail.location %>, <%= @run.trail.distance %>km</h2>
  <ul>
    <li>Date & time: <%= @run.date.strftime("%m %B %Y, %I:%M%p") %></li>
    <li><%= link_to @run.trail.location, "#" %></li>
    <li>Organizer:
      <%= link_to @organizer.name, "#" %>
      <% if @organizer == current_user %>
        <%= "(you)" %>
      <% end %>
    </li>
      <%= "Difficulty: " %>
      <% @run.trail.difficulty.ceil.times do %>
        <%="★"%>
      <% end %>
      <% (5 - @run.trail.difficulty.ceil).times do %>
        <%="☆"%>
      <% end %>
    </li>
    <li>
      <%= "Rating: " %>
    <% if TrailRating.where(trail_id: @run.trail.id).length == 0 %>
        <%= "N/A" %>
      <% else %>
      <% (TrailRating.where(trail_id: @run.trail.id).map { |trail_rating| trail_rating.rating }.sum / TrailRating.where(trail_id: @run.trail.id).map { |trail_rating| trail_rating.rating }.length.to_f).ceil.times do %>
          <%="★"%>
        <% end %>
      <% (5 - (TrailRating.where(trail_id: @run.trail.id).map { |trail_rating| trail_rating.rating }.sum / TrailRating.where(trail_id: @run.trail.id).map { |trail_rating| trail_rating.rating }.length.to_f).ceil).times do %>
          <%="☆"%>
        <% end %>
      <% end %>
    </li>
  </ul>

  <h2 class="participating-runners-header"> <%= @run.run_participants.length %> runners participating: </h2>
  <div class="run-participants-list">
    <% if @participant_users.include?(current_user) %>
      <div class="participant-profile">
        <%= cl_image_tag current_user.avatar.key %>
        <%= link_to current_user.name, "#" %>
        <%= "(you)" %>
      </div>
    <% end %>
    <% @participant_users.each do |participant| %>
      <% unless participant == current_user %>
        <div class="participant-profile">
          <%= cl_image_tag participant.avatar.key %>
          <%= link_to participant.name, "#" %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= link_to "Record Run", register_run_path, class:"btn-create-run d-block w-100 text-center"%>
</div>
