<script type='text/javascript'>
  function loadMapScenario() {
    var map = new Microsoft.Maps.Map(document.getElementById('myMap'), {
      center: new Microsoft.Maps.Location(45.503338, -73.591250),
      zoom: 12,
      showMapTypeSelector:false
    });
    Microsoft.Maps.loadModule('Microsoft.Maps.Directions', function () {
      var directionsManager = new Microsoft.Maps.Directions.DirectionsManager(map);
      // Set Route Mode to walking
      directionsManager.setRequestOptions({ routeMode: Microsoft.Maps.Directions.RouteMode.walking });
      var waypoint1 = new Microsoft.Maps.Directions.Waypoint({ address: '4185 Chemin de la Côte-des-Neiges, Montreal, Quebec H3H 1X2' });
      var waypoint2 = new Microsoft.Maps.Directions.Waypoint({ address: 'Beaver Lake, Montreal, Quebec, Canada' });
      var waypoint3 = new Microsoft.Maps.Directions.Waypoint({ address: '1196 Camillien Houde Voie, Montreal QC H3H 1A1' });
      directionsManager.addWaypoint(waypoint1);
      directionsManager.addWaypoint(waypoint2);
      directionsManager.addWaypoint(waypoint3);
      // Set the element in which the itinerary will be rendered
      directionsManager.calculateDirections();
    });
  }
</script>
<script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=At7tKBq6JEFi0ksqaAjmwbPRvOh9tCsibl_-tiUJ2S_2j35L4a8U142v4E4PpN6V&callback=loadMapScenario' async defer></script>

<h1><%= @run.trail.name %></h1>
<div class="new-run-top">
  <div id="myMap"></div>

  <h2 class="trail-booking-header"><%= @run.trail.location %>, <%= @run.trail.distance %>km</h2>
  <ul>
    <li>Date & time: <%= @run.date.strftime("%m %B %Y, %I:%M%p") %></li>
    <li><%= link_to @run.trail.location, "#" %></li>
    <li>Organizer:
      <%= link_to @organizer.name, "#" %>
      <% if @organizer == current_user %>
        <%= "(you)" %>
      <% end %>
    </li>
      <%= "Difficulty: " %>
      <% @run.trail.difficulty.ceil.times do %>
        <i class="fas fa-running"></i>
      <% end %>
      <% (5 - @run.trail.difficulty.ceil).times do %>
        <i class="fas fa-running" id="not-filled-light"></i>
      <% end %>
    </li>
    <li>
      <%= "Rating: " %>
    <% if TrailRating.where(trail_id: @run.trail.id).length == 0 %>
        <%= "N/A" %>
      <% else %>
      <% (TrailRating.where(trail_id: @run.trail.id).map { |trail_rating| trail_rating.rating }.sum / TrailRating.where(trail_id: @run.trail.id).map { |trail_rating| trail_rating.rating }.length.to_f).ceil.times do %>
          <i class="fas fa-star"></i>
        <% end %>
      <% (5 - (TrailRating.where(trail_id: @run.trail.id).map { |trail_rating| trail_rating.rating }.sum / TrailRating.where(trail_id: @run.trail.id).map { |trail_rating| trail_rating.rating }.length.to_f).ceil).times do %>
          <i class="fas fa-star" id="not-filled-light"></i>
        <% end %>
      <% end %>
    </li>
  </ul>

  <h2 class="participating-runners-header"> <%= @run.run_participants.length %> runners participating: </h2>
  <div class="run-participants-list">
    <% if @participant_users.include?(current_user) %>
      <div class="participant-profile">
        <%= cl_image_tag current_user.avatar.key %>
        <%= link_to current_user.name, "#" %>
        <%= "(you)" %>
      </div>
    <% end %>
    <% @participant_users.each do |participant| %>
      <% unless participant == current_user %>
        <div class="participant-profile">
          <%= cl_image_tag participant.avatar.key %>
          <%= link_to participant.name, "#" %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= link_to "Record Run", register_run_path, class:"btn-create-run d-block w-100 text-center"%>
</div>
