<h1 class="text-center"><%= @trail.name %></li></h1>
<div class="new-run-top">
  <%= cl_image_tag @trail.photos.first.key, height: 180, width: 330, crop: :fill %></li>
  <h2 class="trail-booking-header"><%= @trail.location %>, <%= @trail.distance %>km</h2>
<%= simple_form_for([@trail, @run]) do |f| %>
  <%#= f.error_notification %>
  <%#= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <%= f.input :date %>
  <%= f.simple_fields_for :run_participants do |rp| %>
    <%#= rp.association :user, :collection => User.all(:order => 'name'), :prompt => "Choose a Company" %>
    <%= rp.association :user, collection: @users %>
    <%#= rp.input :user, as: :select, collection: @users %>
  <% end %>
  <%= f.submit "Schedule run", class: "btn-create-run d-block w-100" %>
<% end %>
</div>
