<script type='text/javascript'>
  function loadMapScenario() {
    var map = new Microsoft.Maps.Map(document.getElementById('myMap'), {
      center: new Microsoft.Maps.Location(45.503338, -73.591250),
      zoom: 12,
      showMapTypeSelector:false
    });
    Microsoft.Maps.loadModule('Microsoft.Maps.Directions', function () {
      var directionsManager = new Microsoft.Maps.Directions.DirectionsManager(map);
      // Set Route Mode to walking
      directionsManager.setRequestOptions({ routeMode: Microsoft.Maps.Directions.RouteMode.walking });
      var waypoint1 = new Microsoft.Maps.Directions.Waypoint({ address: '4185 Chemin de la Côte-des-Neiges, Montreal, Quebec H3H 1X2' });
      var waypoint2 = new Microsoft.Maps.Directions.Waypoint({ address: 'Beaver Lake, Montreal, Quebec, Canada' });
      var waypoint3 = new Microsoft.Maps.Directions.Waypoint({ address: '1196 Camillien Houde Voie, Montreal QC H3H 1A1' });
      directionsManager.addWaypoint(waypoint1);
      directionsManager.addWaypoint(waypoint2);
      directionsManager.addWaypoint(waypoint3);
      // Set the element in which the itinerary will be rendered
      directionsManager.calculateDirections();
    });
  }
</script>
<script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=At7tKBq6JEFi0ksqaAjmwbPRvOh9tCsibl_-tiUJ2S_2j35L4a8U142v4E4PpN6V&callback=loadMapScenario' async defer></script>

<div class="empty-location-div" id="Montreal"></div>
<h1><%= @trail.name %></h1>

<div id='printoutPanel'></div>
<div class="new-run-top">
  <div id="carouselExampleControls" class="carousel slide" data-interval="false">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= cl_image_tag @trail.photos.first.key, crop: :fill %>
      </div>
      <div class="carousel-item">
        <%= cl_image_tag @trail.photos.second.key, crop: :fill %>
      </div>
      <div class="carousel-item">
        <%= cl_image_tag @trail.photos.third.key, crop: :fill %>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div id="myMap"></div>
  <table id="weather-table" data-weather-api-key="<%= ENV["WEATHER_API_KEY"] %>"></table>

  <%= simple_form_for([@trail, @run]) do |f| %>
    <%#= f.error_notification %>
    <%#= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <%= f.input :date, required: true, as: :string, label: "When do you want to run with #{@users.first.name}?" %>
    <%= f.simple_fields_for :run_participants do |rp| %>
      <%= rp.association :user, required: true, collection: @users, label: "Who do you want to run with?", selected: @users.first.id %>
      <%#= rp.hidden_field :user, required: true, collection: @users, label: "Who do you want to run with?", selected: @users.first.id %>
      <%#= rp.association :user, required: true, collection: @users, label: false, selected: @users.first.id, as: :hidden %>
    <% end %>
    <%= f.submit "Schedule run", class: "btn-create-run d-block w-100" %>
  <% end %>
</div>
