<h1><%= @trail.name %></li></h1>
<li><%= @trail.location %></li>
<li><%= @trail.distance %>km</li>
<li><%= @trail.difficulty %></li>
<li><%= @trail.rating %> ⋆⋆⋆⋆⋆</li>

<h2><%= @trail.name %></li></h2>
