<h1><%= @trail.name %></h1>

<script type='text/javascript'>
  function loadMapScenario() {
    var map = new Microsoft.Maps.Map(document.getElementById('myMap'), {
      center: new Microsoft.Maps.Location(47.606209, -122.332071),
      zoom: 12,
      showMapTypeSelector:false
    });
    Microsoft.Maps.loadModule('Microsoft.Maps.Directions', function () {
      var directionsManager = new Microsoft.Maps.Directions.DirectionsManager(map);
      // Set Route Mode to walking
      directionsManager.setRequestOptions({ routeMode: Microsoft.Maps.Directions.RouteMode.walking });
      var waypoint1 = new Microsoft.Maps.Directions.Waypoint({ address: '4185 Chemin de la Côte-des-Neiges, Montreal, Quebec H3H 1X2' });
      var waypoint2 = new Microsoft.Maps.Directions.Waypoint({ address: 'Beaver Lake, Montreal, Quebec, Canada' });
      var waypoint3 = new Microsoft.Maps.Directions.Waypoint({ address: '1196 Camillien Houde Voie, Montreal QC H3H 1A1' });
      directionsManager.addWaypoint(waypoint1);
      directionsManager.addWaypoint(waypoint2);
      directionsManager.addWaypoint(waypoint3);
      // Set the element in which the itinerary will be rendered
      directionsManager.calculateDirections();
    });
  }
</script>
<script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=At7tKBq6JEFi0ksqaAjmwbPRvOh9tCsibl_-tiUJ2S_2j35L4a8U142v4E4PpN6V&callback=loadMapScenario' async defer></script>

<div id='printoutPanel'></div>
<div class="new-run-top">
  <%= cl_image_tag @trail.photos.first.key, height: 180, width: 330, crop: :fill %></li>
  <div class="divider-line"></div>
  <h2 class="trail-booking-header"><%= "Distance: " %> <%= @trail.distance %>km</h2>
  <div id='myMap' style='width: 330px; height: 250px;'></div>
  <div class="divider-line"></div>
  <h2 class="trail-booking-header">7-day forecast</h2>


  <div class="divider-line"></div>

  <%= simple_form_for([@trail, @run]) do |f| %>
    <%#= f.error_notification %>
    <%#= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <%= f.input :date, required: true, as: :string, label: "When do you want to run?" %>
    <%= f.simple_fields_for :run_participants do |rp| %>
      <%#= rp.association :user, :collection => User.all(:order => 'name'), :prompt => "Choose a Company" %>
      <%= rp.association :user, required: true, collection: @users, label: "Who do you want to run with?" %>
      <%#= rp.input :user, as: :select, collection: @users %>
    <% end %>
    <%= f.submit "Schedule run", class: "btn-create-run d-block w-100" %>
  <% end %>
</div>
